* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ff00ff;
}

.logo, .menu {
  height:70px;
  background-color: #fbb3ff;
}

.sidebar {
  background-color: #d8ffb6;
}

.main {
  background-color: #00b522;
}

.box{
  height: 130px;
  background-color: #fff75a;
}

.footer {
  background-color: #52a1ff;
}

.footer-content {
  height: 40px;
  background-color: #b6e7ff;
}